@model RoyalCars.Models.About

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>About</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AboutTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AboutTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AboutDes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AboutDes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Img)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Img)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AboutIcon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AboutIcon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AboutId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
