@model RoyalCars.Models.Advertisement

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Advertisement</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdvertisementTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdvertisementTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdDescribe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdDescribe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Img)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Img)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AdvertisementId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
