@model IEnumerable<Car>
 
  


@await Component.InvokeAsync("Company")

<div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <h1 class="display-1 text-primary text-center">00</h1>
        <h1 class="display-4 text-uppercase text-center mb-5">Find Your Car</h1>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6 mb-2">
                    <div class="rent-item mb-4">
                        <img class="img-fluid mb-4" src="@Url.Content(item.Img)" alt="">
                        <h4 class="text-uppercase mb-4">@item.CarName</h4>
                        <div class="d-flex justify-content-center mb-4">
                            <div class="px-2">
                                <i class="fa fa-car text-primary mr-1"></i>
                                <span>@item.CarModel</span>
                            </div>
                            <div class="px-2 border-left border-right">
                                <i class="fa fa-cogs text-primary mr-1"></i>
                                <span>@item.CarTyp</span>
                            </div>
                            <div class="px-2">
                                <i class="fa fa-road text-primary mr-1"></i>
                                <span>@item.CarDistance</span>
                            </div>
                        </div>
                        <a asp-action="CarDetatl" asp-controller="Home" asp-route-id="@item.CarId" class="btn btn-primary px-3">@item.ReserveCost</a>
                    </div>
                </div>
            }


        </div>
    </div>
</div>
@await Component.InvokeAsync("CompanyAd")
